absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyascii==0.3.2
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
backoff==2.2.1
bangla==0.0.2
base58==2.1.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
bs4==0.0.2
build==1.2.1
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.14
chromedriver-autoinstaller==0.6.4
click==8.1.7
cloudpathlib==0.16.0
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.4
contourpy==1.2.1
coqpit==0.0.17
cryptography==43.0.1
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dataclasses-json==0.6.4
dateparser==1.1.8
debugpy==1.8.2
decorator==5.1.1
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
einops==0.8.0
email_validator==2.1.1
emoji==2.13.0
encodec==0.1.1
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.20.0
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.14.0
filetype==1.2.0
firecrawl-py==1.2.4
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.2.0
g2pkk==0.1.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.32.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.63.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
hangul-romanize==0.1.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.6
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.2.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.23.0
isoduration==20.11.0
itsdangerous==2.2.0
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
jieba3k==0.35.1
Jinja2==3.1.3
jiter==0.5.0
joblib==1.3.2
json5==0.9.25
jsonlines==1.2.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==3.0.4
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.5
kubernetes==30.1.0
lancedb==0.11.0
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
lazy_loader==0.4
librosa==0.10.0
llama-cloud==0.0.11
llama-extract==0.0.4
llama-index-core==0.11.11
llama-index-embeddings-openai==0.2.5
llama-index-llms-openai==0.2.9
llama-index-readers-file==0.2.1
llama-index-readers-web==0.2.2
llama-index-utils-workflow==0.2.1
llama-parse==0.5.6
llamaindex-py-client==0.1.18
llvmlite==0.42.0
lxml==5.2.2
marisa-trie==1.1.1
Markdown==3.6
markdown-it-py==3.0.0
markdown_pdf==1.3
MarkupSafe==2.1.5
marshmallow==3.21.0
marvin==2.3.4
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
num2words==0.5.13
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.18.1
openai==1.46.0
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
orderly-set==5.2.2
orjson==3.10.3
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.4
partialjson==0.0.7
peewee==3.17.5
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.2
playwright==1.47.0
pluggy==1.4.0
pooch==1.8.1
posthog==3.5.0
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.5.0
pure-eval==0.2.2
py==1.11.0
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.2.1
pydantic_core==2.23.4
pydeck==0.8.1b0
pyee==12.0.0
Pygments==2.17.2
pylance==0.15.0
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
pynndescent==0.5.12
pyparsing==3.1.2
pypdf==4.0.2
PyPika==0.48.9
pypinyin==0.51.0
pyproject_hooks==1.1.0
pysbd==0.3.4
PySocks==1.7.1
pytest==8.1.1
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.7
ratelimiter==1.2.0.post0
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.11.4
selenium==4.24.0
Send2Trash==1.8.3
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spider-client==0.0.27
SQLAlchemy==2.0.27
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
streamlit==1.33.0
striprtf==0.0.26
SudachiDict-core==20240409
SudachiPy==0.6.8
sympy==1.12
tabulate==0.9.0
tantivy==0.22.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
terminado==0.18.1
thinc==8.2.3
threadpoolctl==3.5.0
tiktoken==0.6.0
tinycss2==1.3.0
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.0
torchaudio==2.3.0
tornado==6.4
tqdm==4.66.2
trainer==0.0.36
traitlets==5.14.2
transformers==4.40.2
trio==0.26.2
trio-websocket==0.11.1
triton==2.3.0
typeguard==4.2.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
umap-learn==0.5.6
Unidecode==1.3.8
unstructured==0.15.12
unstructured-client==0.25.9
upstash-vector==0.2.1
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.30.0
uvloop==0.19.0
validators==0.28.0
wasabi==1.1.2
watchdog==4.0.0
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
yfinance==0.2.40
zipp==3.19.2
